:root {
  --main-black-color: #17171E;
  --main-gray-color: #20222B;
  --main-orange-color: #FFC400;
}

@font-face {
  font-family: titlefont;
  src: url(./fonts/titlefont.ttf);
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 16px;
  font-family: 微软雅黑;
  box-sizing: border-box;
}